---
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Layout from "../layouts/Layout.astro";
import Youtube from "../components/sections/Youtube.astro";

import { basics, projects, education, work, youtube } from "cv_english.json";

const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero href="/spanish" basics={basics} />
    <About title="About me" summary={basics.summary} />
    <Experience title="Work experience" work={work} />
    <Education title="Education" education={education} />
    <Youtube title="Youtube" youtube={youtube} />
    <Projects title="Projects" projects={projects} />
    <Skills title="Skills" />
  </main>
</Layout>
